<p><a href="/login">Login page</a></p>
<p><a href="/register">Register page</a></p>
<p><a href="/">Main page</a></p>
<h1>Login page</h1>

<form>
	<input type="text" name="login">
	<input type="password" name="pass">
	<input type="submit">
</form>