<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="./stylesheets/myStyle.css">
</head>
<body>
	<div class="nav">
		<a href="/">Main page</a>
		<a href="/login">Login page</a>
		<a href="/register">Register page</a>
	</div>

</body>
</html>